@model int

<div class="container  pt-4">
    <div class="col-12 text-center">
        <h1 class="text-success text-center">cảm ơn quý khách đã tin tưởng dịch vụ của chúng tôi </h1>
        số lượng đặt của quý khách  là  : @Model <br />
        <p> mời quý khách  xem chi tiết tại quản lý đơn đặt </p>
       
    </div>
    <div class="col-12 text-center text-warning">
        <p class="pt-1">Chúc quý khách nghỉ dưỡng vui vẻ </p>
    </div>

</div>